#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    quick_tap_ms = <200>;
};

&lt {
    quick_tap_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_del {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp BSPC>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp TAB>;
        };
        combo_alt {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp LGUI>;
        };
        
        combo_rgb_tog {
            key-positions = <20 29>;
            bindings = <&rgb_ug RGB_TOG>;
        };
    };

    macros {
        // German Characters
        de_ae: de_ae {
            label = "DE_AE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp E &kp N4 &kp RET>;  // ä (00E4)
        };
        de_oe: de_oe {
            label = "DE_OE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp F &kp N6 &kp RET>;  // ö (00F6)
        };
        de_ue: de_ue {
            label = "DE_UE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp F &kp C &kp RET>;  // ü (00FC)
        };
        de_ss: de_ss {
            label = "DE_SS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp D &kp F &kp RET>;  // ß (00DF)
        };

        // Turkish Characters
        tr_i: tr_i {
            label = "TR_I";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N1 &kp N3 &kp N1 &kp RET>;  // ı (0131)
        };
        tr_g: tr_g {
            label = "TR_G";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N1 &kp N1 &kp F &kp RET>;  // ğ (011F)
        };
        tr_s: tr_s {
            label = "TR_S";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N1 &kp N5 &kp F &kp RET>;  // ş (015F)
        };
        tr_c: tr_c {
            label = "TR_C";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp E &kp N7 &kp RET>;  // ç (00E7)
        };
        tr_o: tr_o {
            label = "TR_O";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp RALT &kp U &kp N0 &kp N0 &kp F &kp N6 &kp RET>;  // ö (00F6)
        };
    };

#define BASE 0
#define NUMBER 1
#define SYMBOL 2
#define ARROW 3
#define TMUX 4
#define ACCENT 5

    keymap {
        compatible = "zmk,keymap";
                
        base_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │  Q  │  W  │  E  │  R  │  T  │   │  Y  │  U  │  I  │  O  │  P  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  A  │S TMX│D NUM│F ARR│  G  │   │  H  │J ACC│  K  │  L  │  ;  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │Z SFT│  X  │  C  │  V  │  B  │   │  N  │  M  │  ,  │  .  │/ SFT│
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │EALT │SPC  │   │ ENT │BCTL │
//                   │ ESC │ SYM │   │ SYM │BSPC │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &kp Q         &kp W         &kp E           &kp R           &kp T       &kp Y         &kp U             &kp I         &kp O         &kp P 
                &kp A         &lt TMUX S    &lt NUMBER D   &lt ARROW F    &kp G       &kp H         &lt ACCENT J    &kp K         &kp L         &kp SEMICOLON
                &mt LSFT Z    &kp X         &kp C           &kp V           &kp B       &kp N         &kp M             &kp COMMA     &kp DOT       &mt LSFT SLASH
                                                            &mt LALT ESC    &lt SYMBOL SPACE   &lt SYMBOL ENTER   &mt LCTRL BSPC 
            >;
        };

        number_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │     │     │     │     │     │   │     │  7  │  8  │  9  │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │  4  │  5  │  6  │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │  1  │  2  │  3  │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │  0  │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &trans        &trans        &trans          &trans          &trans      &trans        &kp N7        &kp N8        &kp N9        &trans     
                &trans        &trans        &trans          &trans          &trans      &trans        &kp N4        &kp N5        &kp N6        &trans 
                &trans        &trans        &trans          &trans          &trans      &trans        &kp N1        &kp N2        &kp N3        &trans
                                                            &trans          &trans      &kp N0        &trans 
            >;
        };
        
        symbol_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │  !  │  @  │  #  │  $  │  %  │   │  ^  │  &  │  *  │  |  │  \  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  ~  │  `  │  +  │  _  │     │   │  (  │  [  │  {  │  '  │  "  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  =  │  +  │  -  │     │     │   │  )  │  ]  │  }  │  _  │  -  │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │BTCLR│  ~  │   │  _  │  +  │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &kp EXCL      &kp AT        &kp HASH        &kp DOLLAR      &kp PERCENT    &kp CARET     &kp AMPERSAND &kp ASTERISK  &kp PIPE      &kp BACKSLASH
                &kp TILDE     &kp GRAVE     &kp KP_PLUS     &kp UNDER       &trans         &kp LPAR      &kp LBKT      &kp LBRC      &kp SQT       &kp DQT  
                &kp EQUAL     &kp KP_PLUS   &kp KP_MINUS    &trans          &trans         &kp RPAR      &kp RBKT      &kp RBRC      &kp UNDER     &kp KP_MINUS  
                                                            &bt BT_CLR      &kp TILDE      &kp UNDER     &kp KP_PLUS  
            >;
        };    
        
        arrow_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │     │     │     │     │RESET│   │BTCLR│BTALL│BTNXT│BTPRV│     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │  ←  │  ↓  │  ↑  │  →  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │ BT0 │ BT1 │     │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &trans        &trans        &trans          &trans          &sys_reset     &bt BT_CLR    &bt BT_CLR_ALL &bt BT_NXT   &bt BT_PRV    &trans
                &trans        &trans        &trans          &trans          &trans         &trans        &kp LEFT      &kp DOWN     &kp UP        &kp RIGHT  
                &trans        &trans        &trans          &trans          &trans         &trans        &bt BT_SEL 0  &bt BT_SEL 1 &trans        &trans
                                                            &trans          &trans         &trans        &trans  
            >;
        };    

        tmux_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │     │     │     │     │     │   │     │     │C-A-Y│     │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │ C-H │ C-J │ C-K │ C-L │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │     │     │     │   │     │     │C-A-R│     │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &trans        &trans        &trans          &trans          &trans         &trans        &trans        &kp LA(LC(Y)) &trans        &trans     
                &trans        &trans        &trans          &trans          &trans         &trans        &kp LC(H)     &kp LC(J)     &kp LC(K)     &kp LC(L)
                &trans        &trans        &trans          &trans          &trans         &trans        &trans        &kp LA(LC(R)) &trans        &trans 
                                                            &trans          &trans         &trans        &trans  
            >;
        };    

        accent_layer {
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │  ß  │     │     │     │     │   │     │  ü  │  ı  │  ö  │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  ä  │  ş  │     │     │  ğ  │   │     │     │     │     │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │     │  ç  │     │     │   │     │     │     │     │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
                &de_ss        &trans        &trans          &trans          &trans         &trans        &de_ue        &tr_i         &de_oe        &trans     
                &de_ae        &tr_s         &trans          &trans          &tr_g          &trans        &trans        &trans        &trans        &trans
                &trans        &trans        &tr_c           &trans          &trans         &trans        &trans        &trans        &trans        &trans 
                                                            &trans          &trans         &trans        &trans  
            >;
        };    
    };
};